In [20]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics

In [2]:
# 2 émé méthode pour importer le dataset sans télecharger le dataset
#from sklearn.datasets import Load_iris
#iris = load_iris
DataF = pd.read_csv("iris.csv")
DataF.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [3]:
nomCol = DataF.columns
nomCol

Index(['sepal.length', 'sepal.width', 'petal.length', 'petal.width',
       'variety'],
      dtype='object')

In [4]:
typesData = DataF.dtypes
typesData

sepal.length    float64
sepal.width     float64
petal.length    float64
petal.width     float64
variety          object
dtype: object

In [5]:
descb = DataF.describe()
descb

       sepal.length  sepal.width  petal.length  petal.width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [6]:
nbLandC = DataF.shape
nbLandC

(150, 5)

In [7]:
nbEspeces = DataF['variety'].nunique()
nbEspeces

3

In [8]:
print(DataF["variety"].unique())

['Setosa' 'Versicolor' 'Virginica']

In [9]:
nb_O_variety = DataF['variety'].value_counts()
nb_O_variety

variety
Setosa        50
Versicolor    50
Virginica     50
Name: count, dtype: int64

In [10]:
#array stoke des donner homogéne (nafs type)
#dataframe stoke des donner hétérogéne (type mouch kifkif)

In [11]:
DataF.sample(5)

     sepal.length  sepal.width  petal.length  petal.width     variety
32            5.2          4.1           1.5          0.1      Setosa
115           6.4          3.2           5.3          2.3   Virginica
31            5.4          3.4           1.5          0.4      Setosa
58            6.6          2.9           4.6          1.3  Versicolor
20            5.4          3.4           1.7          0.2      Setosa

In [18]:
num_col = DataF.select_dtypes(include=['float64'])
for col in num_col.columns:
    plt.figure(figsize =(8, 6))
    sns.histplot(DataF['columns'], kde=True, bins=10)
    plt.titre(f'Histogram of {column}')
    plt.xlabel('column')
    plt.ylabel('Frequency')
    plt.show()

NameError: name 'sns' is not defined

In [24]:
sns.pairplot(iris, hue='species', markers=['O', 'S', 'D'])
plt.show()

NameError: name 'iris' is not defined